<h1>Your Order Has been Submitted</h1>
<br>
<h1>Ordered at: <%=@order.created_at  %></h1>
<h1>Ordered By: <%=current_user.email  %></h1>
<% @order.carted_products.each do |carted_product| %>
  <h1><%= carted_product.item.name %></h1>
  <h1><%= carted_product.item.price %></h1>
  <h1><%= carted_product.quantity %></h1>
<% end %>
<h1>Subtotal: $<%= @order.subtotal  %></h1>
<h1>tax: $<%= @order.tax %></h1>
<h1> ---------------------</h1>
<h1>Total: $<%= @order.total  %></h1>


