<div class="row">

  <h1> JDM Land</h1>
  <br>
  <% @items.each do |car|%>
    <div class="col-md-4">
      <h1>Name: <%= car.name %> </h1> 
      <h1>Price: $<%= car.price %> <%= car.discount_item %></h1> 
      <a href = "/items/<%= car.id %>"> <img src= <%= car.image %> > </a>
      <h1>Description: <%= car.description %> </h1> 
      <h1>Stock: <%= car.stock %></h1>
      <br>
    </div>
<% end %>
</div>