<h4>Updated at: <%= @item.friendly_updated_at %></h4>
<h1> <%= @item.name %></h1>
<h1> Price: $<%= @item.price %> Tax: $<%= @item.tax %></h1>
<h1>Total: $<%= @item.total %></h1>
<% @item.images.each do |image| %>
  <img src=<%= image.url %>>
<% end %>
<h1>Description: <%= @item.description %></h1>
<h1>Item Id: <%= @item.id %></h1>
<h1>Supplier Name: <%= @item.supplier.name %> </h1> -->
<h1>Categories:</h1>
<% @item.categories.each do |category| %>
  <p><%= category.name.titleize %></p>
<% end %>


<%= form_tag '/orders', method: :post do %>
  <div id="buy_now">
    <input type="integer" name="quantity" placeholder="Quantity">
    <input class="btn btn-primary" type="submit" value="Buy Now!">
  </div>
  <div>
    <input type="hidden" name="item_id" value="<%= @item.id %>">
  </div>
<% end %>
<h2><a href="/items/<%= @item.id %>/edit">Update Listing</a></h2>
<h2><%= link_to "Delete", "/items/#{@item.id}", method: :delete %></h2>




