<h1>Checkout Page</h1>

<% @carted_products.each do |carted_product| %>
  <h1><%= carted_product.item.name %></h1>
  <h1><%= carted_product.item.price %></h1>
  <h1><%= carted_product.quantity %></h1>
  <%= link_to "remove", "/carted_products/#{carted_product.id}", method: :delete %>
<% end %>
<% if current_user %>
  <%= link_to "Buy Now" , "/orders", method: :post, class: "btn btn-primary" %> 
<% end %>